.padre{
    width: 100%;
    height:100vh; 
    justify-content: center;
    align-items: center;
}

.opciones{
    width: 100%;
    display: flex;
    
}

#jgl{
    background-color: white;
    border: 1px solid rgb(153, 153, 153) !important;
    border-radius: 2px;
    box-sizing: border-box;
    gap: 10px;
    height: 37px;
    padding: 7px 10px;
    width: 98%;
    border: 1px solid #f3f7f8;
    box-shadow: 0 3px 8px rgba(93, 115, 126, 0.1019607843);
    margin-right: 10px;
    margin-bottom: 20px;
}

.padre, .padre-padre{
    background-color: #e7e5e5!important;
}

.tablas{
  
    
background-color: #fff;
margin-top: 20px;
}

.fin{
    margin-left: auto;
}

.tt{
    display: flex;
    margin-bottom: 20px;
}

.tabla1{
    margin-right: 3px;
  


}


.normal{
    font-size: 20px;
    margin-bottom: 0px;
    cursor: pointer;

}
.activo{
    font-size: 20px;
    cursor: pointer;
  
    color: blue;
margin-bottom: 0;
}


.formulario1{
width: 170px !important;
min-height: 40px;
height:auto;
margin-right: 20px;
    line-height: normal;  
    vertical-align: middle;
    background-color: #1677ff;   
    color: #ffffff;                
    border: none;                 
    border-radius: 4px;          
    padding:  2px 10px 2px 10px !important;
    box-sizing: content-box;
    font-size: 16px;             
    cursor: pointer;             /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transición para hover */
  
}

.formularios{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #fff;
}


body, html{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 0%;
}

.padre-padre{
    width: 100%;
    height: 100vh;
   
    margin: 0;
    padding-top: 20px;
}
.title{
    margin-bottom: 30px !important;
    margin-left: auto;
    text-align: center;
    margin: 0%;
    color: brown;
}

table{
    overflow: scroll;
}

.mas{
    width: 70px;
    height: 130%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 20px;
    margin-left: -20px;
    cursor: pointer;
   
}

tr:hover{
    background-color: #F2F2F2;

}

.titulosh > p{
    margin-left: -20px;
}

.titulo{
    font-size: 25px;
}

td{
    cursor: pointer;
}

.nn{
    background-color: rgb(250, 250, 250);
}

.next{
    width: 100px;
    height: 30px;
    display:  grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.next > p{
    border-right: 1px solid grey;
}

.inputs > input{
    background-color: white;
    border: 1px solid rgb(153, 153, 153) !important;
    border-radius: 2px;
    box-sizing: border-box;
    gap: 10px;
    height: 37px;
    padding: 7px 10px;
    width: 97%;
    border: 1px solid #f3f7f8;
    box-shadow: 0 3px 8px #5d737e1a;
    margin-right: 10px;
    margin-bottom: 20px;
}

.inputs > input:hover , .inputs > input:focus{
    border: 1px solid green;
    outline: 1px solid green;
}

div >a {
    text-decoration: dashed;
    color: darkcyan;
    padding: 0%;
    margin: 0;
    font-size: 15px;
}

.contenedor{   
    width: 100%;
    height: 90%;
    background-color: #fff;
    border: 1px solid #f3f7f8;
    border-top: 1px solid #bdb7b7;
    box-shadow: 0 3px 8px #5d737e1a;
    border-radius: 5px;
    border-radius: 8px;
    overflow-y: scroll;
}
table{
    border-collapse: collapse;
    width: 100%;
    height: auto;
}


.menu-sub{
    height: 100px;
    position: absolute;
    left: 100%;
    width: 100px;
  z-index: 10;
    background-color: #1677ff;
}

.conm {
    position: relative;
  }
  
  #secondSelect {
    position: absolute;
    top: 0;
    left: 100%; /* Alineado al lado derecho del primer select */
    visibility: hidden; /* Ocultamos el select secundario inicialmente */
  }
  
  #jgl:hover + #secondSelect {
    visibility: visible; /* Muestra el segundo select cuando se hace hover sobre el primero */
  }
  
  #secondSelect {
    transition: visibility 0s 0.2s; /* Suaviza la visibilidad */
  }
  

tr{
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    vertical-align: middle;
}

td{
    border-bottom: 1px solid #e0e0e0;
    box-sizing: border-box;
    height: 10px;
    padding: 8px;
    display: table-cell;
    vertical-align: inherit;
    unicode-bidi: isolate;
    padding-left: 20px;
}

td > div > p{
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #072F6B;
    margin: 0%;
    padding: 0%;   
}
.bmv, .bmvactivo{
    border-radius: 2px;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: rgb(250, 250, 250);
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    cursor: pointer;
}



.bmvactivo{
background-color: gainsboro;
}
.conm {
    position: relative; /* Contenedor para posicionar el select absoluto */
  }
  
  #secondSelect {
    position: absolute;
    left: 100%; 
    top: 100px; /* Alineado al mismo nivel vertical */
  }

.inputs{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    gap: 5px;
    padding: 0 20px 0 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow: hidden;
}

.pl {
    width: 80%;
    background-color: #072F6B;
    height: 90%;
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    border-radius: 8px; 
    overflow-y: scroll;
}