<div class="padre-padre">


  <div class="formularios">
    <button class="formulario1" (click)="abrirModal()">
      Proceso de seleccion
    </button>
    <button class="formulario1" (click)="abrirmodal2()">
    Proceso reclutamiento
    </button>
    <button class="formulario1" (click)="abrirmodal3()">
      Calificacion personal
    </button>


  </div>

    
    
   
    <div class="padre">
      <div class="tablas">
        <div class="tt"> 
        <div class="tabla1"><p (click)="handleactivo(1)" [ngClass]="activo === 1 ? 'activo' : 'normal'">Seleccion</p></div>
        <div class="tabla1"><p (click)="handleactivo(2)" [ngClass]="activo === 2 ? 'activo' : 'normal'">Reclutamiento</p></div>
        <div class="tabla1"><p (click)="handleactivo(3)" [ngClass]="activo === 3 ? 'activo' : 'normal'">Calf personal</p></div>
        <h1>{{fechaa}}</h1>
       

      </div>
        <div class="inputs">
          <input type="text" placeholder="Buscar Persona" [(ngModel)]="nombre" (ngModelChange)="filtraciones($event)">
          <input type="date" placeholder="filtrar por fecha" [(ngModel)]="fecha" (ngModelChange)="handlefecha()" (ngModelChange)="filtraciones($event)" >
          <input type="text" placeholder="filtrar por departamento" [(ngModel)]="area" (ngModelChange)="filtraciones($event)">
          <input type="text" placeholder="filtrar por puesto"  [(ngModel)]="puesto" (ngModelChange)="filtraciones($event)">
      </div>
      </div>
        <div class="contenedor">
        
                <table>
                    <tbody> 
                    <tr  class="nn">
                      
                        <td class="titulos">
    <p>Fecha</p>
    
                        </td>
                        <td class="titulos"><p>Nombre</p></td>
                        <td class="titulos"><p>Departamento</p></td>
                        <td class="titulos"><p>Puesto</p></td>
                      
                    </tr>
                  
    
    
    
    
    
        <tr *ngFor="let persona of all" (click)="handleusuario(persona.fecha.split('/')[0])">
          <td>
            <div><p>{{ persona.fecha }}</p></div>
          </td>
          <td>
            <div><p>{{ persona.nombre }}</p></div>
          </td>
          <td>
            <div><p>{{ persona.departamento }}</p></div>
          </td>
          <td>
            <div><p>{{ persona.puesto }}</p></div>
          </td>
        </tr>
    
    </tbody>
    
                  
                </table>
           
           
           
        
        </div>
   
    </div>


    </div>
    <nz-modal
    [(nzVisible)]="isModalVisible"
    [nzFooter]="null"
    (nzOnCancel)="cerrarModal()"
    
    [nzStyle]="{ top: '10px' , width:'70%' }"
  >
    <ng-container *nzModalContent>
      <app-formulario></app-formulario>
    </ng-container>
  </nz-modal>


  <nz-modal
    [(nzVisible)]="modal2"
    [nzFooter]="null"
    (nzOnCancel)="cerrarModal()"
    
    [nzStyle]="{ top: '10px' , width:'70%' }"
  >
    <ng-container *nzModalContent>
      <app-formulario2></app-formulario2>
    </ng-container>
  </nz-modal>


  
  <nz-modal
    [(nzVisible)]="modal3"
    [nzFooter]="null"
    (nzOnCancel)="cerrarModal()"
    
    [nzStyle]="{ top: '10px' , width:'70%' }"
  >
    <ng-container *nzModalContent>
      <app-formulario3></app-formulario3>
    </ng-container>
  </nz-modal>


  
 
