

.contenedor{
    width: 50%;
    height: 700px;
    justify-self: center;
    margin-top: 5%;

}

#chartType{
    align-self:self-end;
margin-bottom: 50px;
    margin-right: 50px;
}

.canvas{
    height: 300px !important;
}

