.table-container {
    height: auto;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: end ;
    flex-direction: column;
    justify-content: end;

    background-color: blue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  nz-table {
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    margin-top: auto;
    
  }
  
  th {
    background-color: #333 !important;
    color: white !important;
    font-weight: bold;
  }
  
  td {
    color: #333;
  }
  
  nz-tag {
    font-weight: bold;
  }
  
  nz-pagination {
    margin-top: 16px;
    text-align: right;
  }

  body{
    background-color: #F4F6F9;
  }